
<!DOCTYPE html>
<html>
    <head>
        <title>Insertar Preguntas</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        
        <link rel="stylesheet" type="text/css" href="../css/guardar_preguntas.css" media="screen"/>
        <link rel="stylesheet" type="text/css" href="../css/sweetalert2.min.css" media="screen"/>
        <script type="text/javascript" src="../js/sweetalert2.all.min.js" charset="utf-8"></script>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a href="../../index.php" class="navbar-brand">
                <img src="../imagenes/" height="60" alt="Banco_Preguntas">
                </a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
                </button>
                <a href="../../index.php" class="nav-item nav-link active"><i class="fa fa-fw fa-home"></i>Home</a>
                <a href="listar_preguntas.php" class="nav-item nav-link"><i class="fa fa-fw fa-list"></i>Listar preguntas</a>
                <div class="navbar-nav">
                    <a href="#" class="nav-item nav-link">Login</a>
                </div>
                <br>
                <br>
            </div>
        </nav>
        <div class="container mt-3">
        <div class="jumbtron">
            <h1 class="display-4">INSERTAR PREGUNTAS</h1>
            <p class="lead">Inserta las preguntas de la materia: </p>
            <hr class="my-4">
        </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <form action="" method="POST">
                                <!--<div class="form-group">
                                    <form name="subida-imagenes" type="POST" enctype="multipart/formdata" ></form>
                                    <input type="file" id="imagen" name="imagen" placeholder="Imagen">
                                </div>-->
                                <div class="form-group">
                                    <label for="pregunta">Pregunta</label>
                                    <input type="text" class="form-control" id="pregunta" name="pregunta" placeholder="Inserta la pregunta">
                                </div>
                                <div class="form-group">
                                    <label for="opcion1">Opcion 1</label>
                                    <input type="text" class="form-control" id="opcion1" name="opcion1" placeholder="Inserta la opcion 1">
                                </div>
                                <div class="form-group">
                                    <label for="opcion2">Opcion 2</label>
                                    <input type="text" class="form-control" id="opcion2" name="opcion2" placeholder="Ingresa la opcion 2">
                                </div>
                                <div class="form-group">
                                    <label for="opcion3">Opcion 3</label>
                                    <input type="text" class="form-control" id="opcion3" name="opcion3" placeholder="ingresa la opcion 3">
                                </div>
                                <div class="form-group">
                                    <label for="opcionc">Opcion correcta</label>
                                    <input type="text" class="form-control" id="opcionc" name="opcionc" placeholder="Ingresa la opcion correcta">
                                </div>
                                <div class="form-group">
                                    <select name="materia" id="materia">
                                        <option value="0">Selecciona una materia</option>
                                        <option value="1">Matematicas</option>
                                        <option value="2">Español</option>
                                        <option value="3">Ciencias</option>
                                        <option value="4">Historia</option>
                                        <option value="5">Geografia</option>
                                     </select>
                                 </div>
                                <center><input type="button" value="Guardar" onclick="PostPreguntas()" class="btn btn-success btn-block btn-lg"></center>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer mt-auto py-3">
            <div class="container">
                <span class="text-muted">Banco de preguntas</span>
            </div>
        </footer>
        <script type="text/javascript" src="../js/guardar_preg.js"></script>
    </body>
</html>