<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Guardar Carrera</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../css/sweetalert2.min.css" media="screen"/>
        <script type="text/javascript" src="../js/sweetalert2.all.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="../js/guardar_carrera.js"></script>
        <link rel="stylesheet" type="text/css" href="../css/guardar_carrera.css" media="screen"/>

    </head>
    <body style="background-color:#191C24">
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container-fluid">
                <a href="../../index.php" class="navbar-brand">
       
                </a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
                </button>
                <a href="../../index.php" class="nav-item nav-link active"><i class="fa fa-fw fa-home"></i>Home</a>
                <a href="listar_preguntas.php" class="nav-item nav-link"><i class="fa fa-fw fa-list"></i></a>
                <a href="guardar_carrera.html" class="nav-item nav-link"><i class="fa fa-fw fa-plus"></i>Carreras guardadas</a>
                <div class="navbar-nav">
                    <a href="#" class="nav-item nav-link">Cerrar sesion</a>
                </div>
                <br>
            </div>
        </nav>
        <div class="container mt-5">
        <div class="jumbtron letras">
            <div class="container letras">
                <form  method="post" id="form">
                    <div class="form-group">
                        <div class="container mt-5">
                        <div class="jumbtron letras">
                        <div class="container mt-5">
                        
                        <center><h1 class="letras" for="nombre">Nombre de la carrera</h1></center>
                        <br>
                        <input type="text" class="form-control" id="carrera" name="nombre" placeholder="Ingrese el nombre de la carrera">
                    </div>
                    
                    <br>
                    <div class="container">

                    <input type="button" value="Guardar" onclick="Guardar_carrera()" class="btn btn-success btn-block btn-lg"></center>
                </br>    
                </form>
            </div>
        </div>
</html>