<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Insertar Nombre de Materia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../css/sweetalert2.min.css" media="screen"/>
        <script type="text/javascript" src="../js/sweetalert2.all.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="../js/insertar_nombre_materia.js"></script>
        <link rel="stylesheet" type="text/css" href="../css/insertar_nombre_materia.css" media="screen"/>

</head>
<body style="background-color:#191C24">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
            </button>
            <a href="../../index.php" class="nav-item nav-link active"><i class="fa fa-fw fa-home"></i>Home</a>
            <a href="listar_preguntas.php" class="nav-item nav-link"><i class="fa fa-fw fa-list"></i>Listar preguntas</a>
            <a href="../templates/mostrar_alumnos.html" class="nav-item nav-link"><i class="fa fa-fw fa-list"></i>Listar alumnos</a>
            <a href="../templates/insertar_nombre_materia.html" class="nav-item nav-link"><i class="fa fa-fw fa-plus"></i>Insertar materia</a>
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link">Login</a>
            </div>
            <br>
            
        </div>
    </nav>
    <br>
    <br>
        <div class="container letras">
            <div jumbotron>
            <h1>Insertar Nombre Materia</h1>
            <br>
            <div class="container-fluid" id="detalle" name="detalle"></div>
                <form action="/insertar_nombre_materia" method="post">
                    <div class="form-group">
                        <label for="nombre_materia">Nombre de la materia</label>
                        <input type="text" name="nombre_materia" id="nombre_materia" placeholder="Ingresa el nombre de la materia">
                    </div>
                    <input type="button" value="Insertar Materia" onclick="post_materias()" class="btn btn-success btn-block btn-lg">
                </form>
            </div>
        </div>
    </div>
</body>

</html>