<!DOCTYPE html>
<html >
    <head>
        <title>Actualizar Materia</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../css/sweetalert2.min.css" media="screen"/>
        <script type="text/javascript" src="../js/sweetalert2.all.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="../js/detalle_preguntas.js"></script>
        <script type="text/javascript" src="../js/select_materia.js"></script>
        <script type="text/javascript" src="../js/update_pregunta.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../css/update_materia.css" media="screen"/>

    </head>

    <body style="background-color:#191C24">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">

                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
                </button>
                <a href="../../index.php" class="nav-item nav-link active"><i class="fa fa-fw fa-home"></i>Home</a>
                <a href="listar_preguntas.php" class="nav-item nav-link"><i class="fa fa-fw fa-list"></i>Listar preguntas</a>
                <a href="../templates/mostrar_alumnos.html" class="nav-item nav-link"><i class="fa fa-fw fa-list"></i>Listar alumnos</a>
                <div class="navbar-nav">
                    <a href="#" class="nav-item nav-link">Login</a>
                </div>
                <br>
                <br>
            </div>
        </nav>

        <div class="jumbotron">
            <div class="container">
                <center><h2>ACTUALIZAR MATERIA</h2></center>
                <div class="container-fluid" id="detalle" name="detalle">
                    <!--Se realiza un formulario para mostrar las preguntas-->
                    <div class="jumbotron">

                    <form action="" method="POST" id="form_detalle" name="form_detalle">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="nombre_materia">Nombre Materia:</label>
                                    <input type="text" class="form-control" id="nombre_materia" name="nombre_materia" placeholder="ingrese el nombre de la materia" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="nombre_materia">Nombre Materia:</label>
                                    <input type="text" class="form-control" id="nombre_materia" name="nombre_materia" placeholder="ingrese el nombre de la materia" required>
                                    <div class="jumbotron">

                        <input type="button" value="Guardar" onclick="update_preg()" class="btn btn-success btn-block btn-lg">
                    </form>
                    <script>
                        document.body.onload = detalle_preguntas()
                    </script>
                </div>
            </div>
        </div>
        
    </body>
    
</html>
            
    