.bg-dark {
    background-color: #4D9D29!important;
}

.navbar-dark .navbar-brand {
    color: #024a86;
}

.navbar-dark .navbar-toggler {
    color: #024a86;
    border-color: #024a86;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}
a {
    color: #024a86;
    text-decoration: none;
    background-color: transparent;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}
a {
    color: #024a86;
    text-decoration: none;
    background-color: transparent;
}
a {
    color: #024a86;
    text-decoration: none;
    background-color: transparent;
}
*, ::after, ::before {
    box-sizing: border-box;
}

.navbar-dark .navbar-nav .nav-link {
    color: #024a86;
}

.h1, h1 {
    font-size: 36px;
    align-items: center;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.letras {
    font-size: 36px;
    color: #fff
}

/* css para una tabla */ 
.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: #024a86;
}