.bg-dark {
    background-color: #4D9D29!important;
}

.navbar-dark .navbar-toggler {
    color: #024a86;
    border-color: #024a86;
}

a {
    color: #024a86;
    text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: #024a86;
}