<!--GUARDAR PREGUNTAS-->
<html>
    <head>
        <meta charset="utf-8">
        <title>Guardar Preguntas</title>
        <link rel="stylesheet" href="css/estilos.css">
    </head>

    <body>
        <div class="container">
            <h1 class="titulo">Guardar Preguntas</h1>
            <hr class="border">
            <form action="" method="POST">
                <div class="form-group">
                    <input type="text" name="pregunta" placeholder="Pregunta">
                </div>
                <div class="form-group">
                    <input type="" name="imagen" placeholder="Imagen">
                </div>
                <div class="form-group">
                    <input type="text" name="opcion1" placeholder="Opcion 1">
                </div>
                <div class="form-group">
                    <input type="text" name="opcion2" placeholder="Opcion 2">
                </div>
                <div class="form-group">
                    <input type="text" name="opcion3" placeholder="Opcion 3">
                </div>
                <div class="form-group">
                    <input type="text" name="respuesta" placeholder="Respuesta">
                </div>
                <input type="submit" name="submit" value="Guardar" class="submit">
            </form>
            <p class="texto-registrate">
                <a href="index.html">Volver</a>
            </p>
        </div>
        <script type="text/javascript" src="../js/guardar_preg.js"></script>
    </body>
</html>

